DATABASE_URL="postgresql://opkit:opkit_password@localhost:5437/opkit_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="change_me"
JWT_EXPIRES_IN="1d"
FRONTEND_URL="http://localhost:5173"
PORT=3000
